[submodule "lib/Pi-Pico-SDK-LoRa"]
	path = lib/Pi-Pico-SDK-LoRa
	url = https://github.com/Reghardt/Pi-Pico-SDK-LoRa.git
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
